세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.

(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

![image.png]()

### [ 입력 ]
첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.

### [ 출력 ]
첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

### [ 예제 입력 1 ]
472
385

### [ 예제 출력 1 ]
2360
3776
1416
181720

In [ ]:
"""
풀이 방법
두번째 입력받은 수를 자릿수 숫자별로 나눈 후 각각 첫번 째 입력된 수에 곱해주어 결과 출력
"""

In [1]:
a = int(input())
b = input()

result_3 = a * int(b[2])
result_4 = a * int(b[1])
result_5 = a * int(b[0])
result_6 = a * int(b)

print(result_3)
print(result_4)
print(result_5)
print(result_6)

472
385
2360
3776
1416
181720

In [2]:
a = int(input())
b = input()

result_3 = a * int(b[2])
result_4 = a * int(b[1])
result_5 = a * int(b[0])
result_6 = a * int(b)

print('='*50)
print('(3): ',result_3)
print('(4): ',result_4)
print('(5): ',result_5)
print('(6): ',result_6)

472
385
==================================================
(3):  2360
(4):  3776
(5):  1416
(6):  181720